<!-- <section class="todos">
  <ul class="todo-list" *ngIf="todos.length > 0; else noTodoBlock">
    <li
      class="todo-item"
      *ngFor="
        let todo of todos;
        let i = index;
        first as isFirst;
        last as isLast
      "
      [ngClass]="{ class1: true, class2: todo.isCompleted }"
      [ngStyle]="{ color: textColor }"
    >
      <todoapp-todo-item></todoapp-todo-item>
      {{ todo.id }}. {{ todo.title }}
    </li>
  </ul>
  <!-- [class.completed]="todo.isCompleted"
  <ng-template #noTodoBlock>
    <p>No todo. Create new one using the form below</p>
  </ng-template>
</section> -->
