<section class="todoapp">
  <todoapp-todo-header
    [appTitle]="title"
    [newTodo]="newTodo"
    [todoError]="todoError"
    (createTodo)="onCreateNewTodo()"
  ></todoapp-todo-header>
  <todoapp-todo-list
    [todos]="todos"
    (deleteTodo)="onDeleteTodo($event)"
  ></todoapp-todo-list>
  <todoapp-todo-footer
    *ngIf="showFooter"
    [todosLeft]="todos.length"
    (createNewTodo)="onCreateNewTodo()"
  >
  </todoapp-todo-footer>
  <!-- <button mat-raised-button color="primary" (click)="showFooter = !showFooter">Toggle Footer</button> -->
</section>
