<mat-toolbar color="primary">
  <span>Todo App</span>
  <span class="spacer"></span>
  <button
    mat-button
    class="logout-icon"
    aria-label="Example icon-button with heart icon"
    [routerLink]="['/auth/logout']"
  >
    Logout
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<section class="todoapp">
  <todoapp-todo-header
    [appTitle]="title"
    [newTodo]="newTodo"
    [todoError]="todoError"
    (createTodo)="onCreateNewTodo()"
  ></todoapp-todo-header>
  <todoapp-todo-list
    [todos]="todos$ | async"
    (deleteTodo)="onDeleteTodo($event)"
    (updateTodo)="onUpdateTodo($event)"
    (updateTodoStatus)="onTodoStatusChange($event)"
  ></todoapp-todo-list>
  <todoapp-todo-footer
    [todosLeft]="inCompleted$ | async"
    [todosComplete]="completed$ | async"
    (createNewTodo)="onCreateNewTodo()"
  >
  </todoapp-todo-footer>
</section>
